{% extends 'academics/bootstrap.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
	.card-title{
		color: rgb(66,133,244);
	}
	.card{
		min-height: 15rem;
		width: 22rem;
		margin: 1.5rem;
		animation: bounceInRight 1.3s;
	}

	.tab{
		display: inline;
		background-color: red;
		opacity: 0;
	}
	.notes{
		z-index: 10;
		display: flex; flex-wrap: wrap;
	}
	#notes-create{
		z-index: 100;
		position: absolute;
		top: 2.5em;
		right: 2.5em;
		animation: fadeInUp 2.3s;
	}
	.card:nth-child(even){
		animation: bounceInUp 1s;
	}

	@media only screen and (max-width: 900px) {
	  .notes{
	  	z-index: 10;
	  	padding: 0;
	  	margin: 0;
	  }
	  #plus{
	  	margin: 0;
	  	opacity: 0.8;
	  }
	  #notes-create{
	  	top: 0.7em;
	  	right: 0.7em;
	  	z-index: 100;
	  }
	  .card{
	  	margin: 0.3rem;
	  }
	}
</style>
	<div>
		{% if messages %}
			{% for message in messages %}	
			<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
				{{ message }}
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
			{% endfor %}
		{% endif %}
	</div>

	<div style="position: relative;">
	<a id="notes-create" href="{% url 'notes-create' %}">
		<img id="plus" src="{% static 'notes/add_red.png' %}" width="66px">
	</a>
	<div class="notes">
	{% for object in object_list %}
	<div class="card">
		<a class="card-body alert-{{object.tag}}" href="{% url 'notes-detail' pk=object.pk %}">
		    <h5 class="alert-heading">{{object}}</h5>
		    <div class="d-flex justify-content-between">
			    <h6 class="card-subtitle mb-2">
			    	{{ object.date_posted|date:'F dS, Y'}}
			    </h6>
			    <h6 class="card-subtitle mb-2">
			    	{{ object.date_posted|date:'h:ia'}}
			    </h6>
		    </div>
		    <p class="card-text">
		    	<span class="tab">www</span>{{ object.snippet|linebreaksbr }}
		    </p>
		</a>
	</div>
	{% endfor %}
	</div>
	</div>
{% endblock %}