{% extends 'academics/bootstrap.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
	<style type="text/css">
		.card{
			margin: 2rem;
			width: 50rem;
			position: relative;
			animation: fadeIn 1s;
		}
		.card-text{
			padding: 0.75rem;
			min-height: 20rem;
		}
		.form-control{
			background: transparent;
		}
		.form-control:focus{
			background: transparent;
		}
	</style>
	<div class="d-flex justify-content-center w-100 p-0 m-0">
	<div class="card">
	  <div id='note-form' class="card-body">
	  	<form method="POST">
	  		{% csrf_token %}
	  		<fieldset class="form-group">
	  			{{form|crispy}}
	  		</fieldset>
	  		<button class="btn btn-info">
	  			{% if isCreate %}
	  			Add Note
	  			{% else %}
	  			Update Note
	  			{% endif %}
	  		</button>
	  		<a class='ml-4 btn btn-danger' href="{% url 'notes-home' %}">Back</a>
	  	</form>
	  </div>
	</div>
	</div>
	<script type="text/javascript">
		var div = document.getElementById('note-form')
		var tag = document.getElementById('id_tag')
		changeColor()
		tag.addEventListener('change', changeColor)
		function changeColor(){
			div.className = 'card-body alert-'+tag.value
		}
	</script>
{% endblock %}